<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">

    <title>JustCode</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*@thymesVar id="article" type="com.oskarro.justcode.domains.Article"*/-->
<!--/*@thymesVar id="category" type="com.oskarro.justcode.domains.Category"*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Category form</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-warning text-center">
                    Category form
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form role="form" th:action="@{/category/relationAdd}" method="get">
                    <div class="form-group">
                        <label for="name">Choose category</label>
                        <select  name="idCategory" id="idObject" class="form-control">
                            <option th:each="category  : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}">Dostawca</option>
                        </select>
                        <input type=hidden id="name" th:value="${id}" name="idArticle"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Add
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <a href="/">Powrót</a>
            </div>
        </div>

</div>

</body>
</html>


