<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>JustCode</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="flex-wrapper">
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="leftcolumn">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>Welcome to admin panel</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <a href="/category/all">Show all categories</a><br/>
                <a href="/category/add">Add new category</a><br/>
                <a href="/article/all">Show all articles</a><br/>
                <a href="/article/new">Add new article</a><br/>
            </div>
        </div>
    </div>
    </div>
</div>

<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</div>

</body>

</html>
