<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
</body>

<footer>
    <th:block th:fragment="footer">
        <div class="footer">
            <div class="container">
                <p>
                    &copy; JustCode.com <br/>
                    <span style="display: inline-block;">
                    | Created by Oskar Slyk 2019 | <br/>
                </span>
                </p>
            </div>
        </div>

    </th:block>
</footer>
</html>
