<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="en">

</head>

<body>
<!--/*@thymesVar id="category" type="com.oskarro.justcode.domains.Category"*/-->
<div class="container-fluid">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" th:href="@{/}">JustCode</a>


            <div class="collapse navbar-collapse">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-link" href="#" th:href="@{/article/all}">All articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-link" sec:authorize="hasRole('ROLE_ADMIN')"
                           href="#" th:href="@{/article/new}">Add article</a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-link" sec:authorize="hasRole('ROLE_ADMIN')"
                           href="#" th:href="@{/admin}">Admin Panel</a>
                    </li>
                </ul>

                <form th:action="@{/login}">
                    <a sec:authorize="isAnonymous()" class="loginPanel" href="#" th:href="@{/login}">Sign In</a>
                </form>
                <form th:action="@{/register}">
                    <a sec:authorize="isAnonymous()" class="loginPanel" href="#" th:href="@{/register}">Register</a>
                </form>

                <form th:action="@{/admin/profile}" method="get">
                    <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" value="Admin Profile">
                </form>

                <form th:action="@{/user}" method="get">
                    <input sec:authorize="hasRole('ROLE_USER')" type="submit" value="User Profile">
                </form>

                <form th:action="@{/logout}" method="post">
                    <input sec:authorize="isAuthenticated()" type="submit" value="Log out" />
                </form>
                <!--
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
                -->
            </div>
        </nav>

        <!--/*/ <th:block th:include="fragments/second_header :: second_header"></th:block> /*/-->


        <div class="jumbotron">
            <h3 align="center">JustCode with Oskar Slyk</h3>
        </div>



    </div>
</div>

</body>
</html>
