<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" th:href="@{/}">JustCode</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-link" href="#" th:href="@{/articles}">All articles <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-link" href="#" th:href="@{/article/new}">Add article</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>

        <div class="jumbotron">
            <h3 align="center">JustCode with Oskar Slyk</h3>
        </div>
    </div>
</div>

</body>
</html>
