<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
</body>

    <th:block th:fragment="sidebar">
        <div class="sidebar">
            <div class="card">
                <h3>About Me</h3>
                <div class="fakeimg" style="height: 100px">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>

            <div class="card">
                <h3>Popular Post</h3>
                <div>Image</div><br>
                <div>Image</div><br>
                <div>Image</div>
            </div>
        </div>
    </th:block>

</html>
