<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
</body>

<!--/*@thymesVar id="article" type="com.oskarro.justcode.domains.Article"*/-->
    <th:block th:fragment="sidebar">
        <div class="sidebar">
            <div class="card">
                <h3>About Me</h3>
                <div class="fakeimg" style="height: 100px">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>

            <div class="card" id="articles">
                <h3>Recent Articles</h3>
                <a href="#" th:each="art : ${latest3articles}"
                   th:text="${art.title}" th:href="@{/article/show/{id}/(id=${art.id})}">Work begins on HTML</a>
            </div>
        </div>
    </th:block>

</html>
