<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>JustCode</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*@thymesVar id="category" type="com.oskarro.justcode.domains.Category"*/-->
<!--/*@thymesVar id="article" type="com.oskarro.justcode.domains.Article"*/-->
<div class="flex-wrapper">
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="leftcolumn">

    <div class="row">
        <div class="col-md-12">
            <label style="font-size: 25px">All cat</label>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>LP</th>
                    <th>Name</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category, iterationStatus  : ${categories}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td th:text="${category.name}">001</td>
                    <td>
                        <form role="form" th:action="@{/category/delete}" method="post">
                            <input type="hidden" id="nameCat" th:value="${category.id}" name="idCategory">
                            <input type="hidden" id="name" th:value="${articleId}" name="idArticle">
                            <button type="submit" class="btn btn-primary">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <a href="/">Powrót</a>
    </div>
    </div>

    <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
</div>

<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</div>

</body>


</html>
