<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>JustCode by Oskar Slyk</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="flex-wrapper">
<!--/*@thymesVar id="article" type="com.oskarro.justcode.domains.Article"*/-->
<!--/*@thymesVar id="comment" type="com.oskarro.justcode.domains.Comment"*/-->

    <div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="leftcolumn">

    <div class="page-header">
        <h2 th:text="${article.title}">Your article</h2>
    </div>
    <div class="caret">
        <span style="font-size: 21px">Category: </span><span th:each="category : ${article.categories}" th:text="${category.name}"
                                     style="font-size: 21px">Category</span>
    </div>

    <div class="details">
        <span th:text="${'Last update: ' + #dates.format(article.lastUpdatedAt, 'dd-MMM-yyyy')}"
        style="font-size: 12px">day</span>
    </div><br/>

    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <p class="form-control-staticl" style="font-size: 18px" th:text="${article.content}">Content</p>
                </div>
            </div>
        </form>
    </div>

    <div class="input_comment">
        <div th:if="${#httpServletRequest.remoteUser != null}">
    <!--/*/ <th:block th:include="fragments/comment :: comment"></th:block> /*/-->
        </div>
    </div>


    <div class="new_comment" style="height: 90px">
    <div th:each="comment : ${article.comments}">
        <div style="width: 6%; float: left">
            <img width="65px" height="65px" th:src="${comment.user.getImage()}"><br/>
            <p class="text-info" style="margin-top: 5px" th:text="${comment.user.getUsername()}"></p>
        </div>
        <div style="width: 90%; float: left">
            <li class="comment" th:text="${#dates.format(comment.createDate, 'dd-MM-yyyy')}"></li>
            <p class="card" th:text="${comment.content}"></p>
        </div>
    </div>


    </div>



</div>

    <!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
</div>

<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</div>

</body>


</html>
