.navbar-nav > li{
    padding-left:15px;
}


body {
    margin: 0;
    padding-bottom: 0;
    height: 100%;
}


.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}


footer {
    margin-top: 10px;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
