<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>JustCode by Oskar Slyk</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*@thymesVar id="article" type="com.oskarro.justcode.domains.Article"*/-->
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="page-header">
        <h2 th:text="${article.title}">Your article</h2>
    </div>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <p class="form-control-staticl" style="font-size: 18px" th:text="${article.content}">Content</p>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
