<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <title>JustCode blog</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="flex-wrapper">
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${#httpServletRequest.remoteUser != null}">
        <p th:text="'Welcome ' + ${#httpServletRequest.remoteUser}">
            sample_user
        </p>
    </div>
</div>

<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</div>

</body>
</html>
